
.root{
  -fx-font-size:1em;
  -fx-font-family:"Segoe UI";
  -fx-text-fill: #011D2E;
}

/* Labels */

.Title{
  -fx-text-fill: #263345;
  -fx-font-size:2em;
} 

/* PopOver */

.popover .title .label{
  -fx-font-size: 1em;
}

.popover .jfx-button .text{
    -fx-font-size:12;
}

.popover .jfx-button:hover{
    -fx-background-color: rgba(244,209,208,.9);
    -fx-text-fill:rgb(200,25,20);
}

/* Label */

.tooltip .text{
  -fx-font-size: 0.80em;
}

/* Tree View */

.tree-cell{
  -fx-padding: 8;
}


.tree-view{
 -fx-background-color: #fefefe;
}

.tree-cell:focused:selected .text{
  -fx-fill: black;
}

.custom-menu-item{
  -fx-background-color: transparent;
}


.tree-view .tree-cell:filled:hover {
    -fx-background-color: #07255e11;
}


/* Table View */

.tree-table-view{
  -fx-border-color: #e0e0e0;
}

.tree-table-view .tree-table-row-cell .tree-disclosure-node{
  -fx-padding: 16;
}

.tree-table-view .tree-table-row-cell:filled:focused .tree-disclosure-node .arrow{
  -fx-background-color:black;
}

.tree-table-view .tree-table-row-cell .text-field{
  -fx-background-color: #fefefe;
}

.tree-table-view .tree-table-row-cell .table-column .label .text{
  -fx-font-size:13;
  -fx-font-family: Segoe UI;
  -fx-text-fill:#051c47;
  -fx-font-weight:bold;
}

.tree-table-view .tree-table-row-cell:filled:focused .label,
.tree-table-view .tree-table-row-cell:filled:focused{
    -fx-background-color: #fefefe;
    -fx-background-insets: 0, 0 0 1 0;
}

.tree-table-view .column-header-background .nested-column-header .table-column .label .text{
  -fx-font-weight:regular;
}


.tree-table-view .virtual-flow .tree-table-row-cell{
  -fx-background: #fefefe;
  -fx-fill:#07255e;
  -fx-font-size:1.0em;
  -fx-font-weight: bold;
  -fx-border-color:#efefef;
   -fx-border-style: solid;
   -fx-border-width: 0 0 .8 0;
}

.tree-table-view .virtual-flow .tree-table-row-cell:empty{
  -fx-border-color:transparent;
}


.jfx-tree-table-view .column-header-background,
.jfx-tree-table-view:row-selection .virtual-flow .corner,
.jfx-tree-table-view .filler,
.jfx-tree-table-view .column-header-background .show-hide-columns-button,
.jfx-tree-table-view .column-header-background .filler,
.jfx-tree-table-view .column-header-background .nested-column-header .table-column{
     -fx-background-color:#efefef;
     -fx-border-color: #e0e0e055;
}

.tree-table-cell{
  -fx-alignment: center;
  -fx-text-fill:#07255eed;
  -fx-font-size: 1.0em;
} 

.jfx-tree-table-view .column-header-background .nested-column-header .table-column .label{
    -fx-font-size:1.0em;
    -fx-text-fill:#011D2E;
}

.tree-table-view .toggle-switch{
   -fx-padding:16;
}

.tree-table-view{
    -fx-border-radius:6;
    -fx-background-radius:6;
    -fx-background-color:#fefefe;
}

.tree-table-view .filler{
    -fx-background-color:transparent;
}

/* Button */

.button{
   -fx-font-size:1.2em;
   -fx-font-weight:bold;
}

.confirmBtn{
  -fx-background-color: #266cfc;
   -fx-background-radius: 6;
   -fx-border-radius: 6;
}

.confirmBtn:hover{
  -fx-background-color:#004CFC;
}

.backBtn{
  -fx-background-color: #226CFC10;
}


.backBtn:hover{
  -fx-background-color: #226CFC20;
}

.detailBtn{
    -fx-background-color:transparent;
    -fx-opacity:.8;
    -fx-font-weight:bold;
    -fx-text-fill:#FF7429;
    -fx-font-size:14;
}

.detailBtn:hover{
    -fx-opacity:1;
}


.setupBtn:pressed{
    -fx-background-color: yellow;
}


.secondaryBtn:hover{
  -fx-background-color: #063fb0;
}

.primaryBtn:hover{
  -fx-background-color: #DC2419;
}

.primaryBtn{
    -fx-background-color: #bC2414;
    -fx-font-size:1.1em;
    -fx-font-weight: bold;
    -fx-text-fill:white;
    -fx-border-radius:6;
    -fx-background-radius:6;
}

.secondaryBtn{
    -fx-text-fill:#063f80;
     -fx-font-size:1.1em;
    -fx-border-radius:6;
    -fx-background-radius:6;
    -fx-text-fill:white;
    -fx-background-color: #063f80;
}

.secondaryBtn:pressed,
.primaryBtn:pressed,
.thirdBtn:pressed{
    -fx-scale-x:1.01;
    -fx-scale-y:1.01;
}

.thirdBtn{
 -fx-background-color: rgba(16, 33, 203,.8);
 -fx-font-size:1.1em;
 -fx-font-weight: bold;
 -fx-text-fill: #FEFEFE;
 -fx-border-radius:6;
 -fx-background-radius:6;
}

.thirdBtn:hover{
 -fx-background-color: rgba(16, 33, 250,1);
}

/* Titled Pane Details */

.pop-pane > .title{
    -fx-background-color: #063f80;
    -fx-padding: 4;
}

.pop-pane > .title .text{
    -fx-text-fill:white;
    -fx-translate-x:8;
    -fx-font-size:1.1em;
}

.pop-pane .content{
  -fx-background-radius:6;
  -fx-border-radius:6;
}

.pop-pane > .title > .arrow-button .arrow{
    -fx-background-color: white;
    -fx-padding:4;
    -fx-translate-x:8;
}


/* Titled Pane */

.overview-pane{
  -fx-border-color: transparent;
  -fx-border-radius: 6;
  -fx-background-radius 6;
  -fx-border-width .3;
}

.overview-pane > .title{
    -fx-background-color:transparent,transparent,transparent,transparent;
    -fx-padding:0 0 8 4;
}

.overview-pane > .title .text{
    -fx-fill:#07255eed;
    -fx-font-size:1.2em;
    -fx-font-weight:bold;
}

.overview-pane .content{
  -fx-background-radius:6;
  -fx-border-radius:6;
  -fx-border-color:none;
  -fx-background-color:transparent;
}

.overview-pane .tree-cell,
.overview-pane .tree-view{
  -fx-background-color: white;
}


.tree-view .tree-cell .arrow,
.overview-pane > .title> .arrow-button .arrow{
    -fx-background-color: #07255eed;
    -fx-padding:4;
    -fx-translate-y:2;
}

/* Check Box */
.check-box{
  -jfx-checked-color:#07255e;
   -fx-translate-x: 4;
   -fx-translate-y: -2;
}
	
.check-box .box{
   -fx-pref-height:24;
   -fx-pref-width: 24;
   -fx-translate-y: 1;
   -fx-background-color:#f0f0f0;
   -fx-border-color:#e0e0e0;
   -fx-border-width: .6;
   -fx-border-radius:6;
}

.check-box .box .mark{
  -fx-scale-x: .7;
  -fx-scale-y: .7;
  -fx-fill: blue;
}

.check-box:determinate .text{
  -fx-font-size:16;
}

/* Combo Box */

.menu-button,
.combo-box{
  -fx-background-color:#fefefe;
  -fx-border-color: gray;
  -fx-border-width: .3;
  -fx-border-radius: 6;
}

.tree-cell,
.menu-button,
.combo-box .text{
   -fx-font-size:16;
   -fx-fill:#011D2E;
}

.tree-table-row-cell .combo-box .text{
  -fx-font-size: 1.2em;
}

/* Tab Pane */

.tab-pane, .tab:disabled {
  -fx-opacity: 1.0;
}

.tab-pane:top .tab-header-area .tab-header-background{
  -fx-background-color:#07255e11;
}

.tab-pane:top .tab-header-area .headers-region .tab:top .tab-container .tab-label .text{
  -fx-font-size:1.1em;
  -fx-font-weight: bold;
}

.tab-pane:top .tab-header-area .headers-region .tab:top:selected{
 -fx-background-color: rgba(255,255,255,1);
 -fx-padding:10;
 -fx-focus-color:none;
}

.tab-pane:top .tab-header-area .headers-region .tab:top{
 -fx-background-color: rgba(250,250,250,.3);
 -fx-padding:8 8 8 8;
 -fx-focus-color:none;
}


.tab-pane:top .tab-header-area .headers-region .tab:top .tab-container .tab-close-button{
  -fx-translate-x:4;
  -fx-translate-y:-12;
}

/* Text Area / Textfield */

.text-area .content{
   -fx-padding: 8;
}

.text-area,
.text-field{
      -fx-faint-focus-color: #266cfc88;
      -fx-focus-color: #063fb066;
      -fx-background-color:transparent,#063fb066,transparent,white;
      -fx-border-color:  #26334622;
      -fx-background-radius: 6;
      -fx-border-radius: 6;
      -fx-font-size:1.2em;
      -fx-text-fill:#011D2E;
}

/* List View */

.list-view{
  -fx-box-border: none;
  -fx-selection-bar:rgba #07255e33;
  -fx-selection-bar-non-focused: rgba(248,248,248,.8);
  -fx-faint-focus-color:none;
  -fx-focus-color: none;
}

.list-view .list-cell:filled:hover {
    -fx-background-color: #07255e11;
}


.list-view .check-box{
  -fx-translate-x:-2;
}

.menu-button .custom-menu-item .tree-cell,
.list-view .list-cell {
    -fx-text-fill: black;
    -fx-border-color: gray;
    -fx-border-width: .2 0 0 0;
    -fx-padding: 8;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.list-cell .label{
  -fx-font-size: 18;
  -fx-text-fill:black;
}

.list-cell .button{
 -fx-background-color:transparent;
}

.list-cell .button .text{
  -fx-font-size: 14;
}

 .list-cell:odd{
  -fx-background:white;
  -fx-text-fill: black;
  -fx-border-width: 0 0 .2 0;
}


/* Hamburger */

.hamburger > StackPane {
    -fx-pref-height:5;
    -fx-background-radius: 6px;
    -fx-background-color:#0141a0;
}


.hamburger:pressed,
.hamburger:hover{
  -fx-background: transparent;
}



